@font-face {
     font-family: 'Occupied';
     src: url('FONT/Occupied.otf'),
            url('FONT/Occupied Italic.otf');
}
@font-face {
     font-family: 'Good-night';
     src: url('../FONT/Good-night.ttf');
}
body {

}
.container {
    width: 1000px;
    margin: 0 auto;
}
/******************************************HEADER***/
.header {
    width: 100%;
    height: 140px;
}
#logo {
    float: left;
}
#logo img {
    padding-top: 6px;
}
.navbar {
    float: right;
    height: 140px;
}
.navbar .menu {
    margin: 0;
    line-height: 140px;
    float: left;
    width: 600px;
    padding: 0;
}
.navbar .menu li {
    display: inline-block;
    width: 146px;
    text-align: center;
}
.navbar .menu li a {
    text-decoration: none;
    font-family: Good-night;
    font-style: normal;
    font-size: 22px;
    font-weight: bold;
    color: #ef5e9f;
}
.navbar .menu li a:hover {
    color: #75b36c;
}
.uppercase-h {
    font-size: 26px;
}
.uppercase {
    font-size: 36px;
}
/*********************************************HOME***/
#Home {
    height: 666px;
    opacity: 0.7;
    position: relative;
}
#Home img {
    /*position: fixed;*/
    background-size: content;
    background: linear-gradient;
}
#Home h1 {
    position: absolute;
    left: 25px;
    top: 25px;
    font-size: 22px;
    font-family: Occupied, sans-serif;
    /*color: #095228;*/
    font-weight: bold;
    margin-top: 0;
}
#Home p {
    position: absolute;
    top: 50px;
    left: 25px;
    right: 25px;
    text-align: justify;
    text-align-last: left;
    font-size: 18px;
    margin-top: 50px;
    font-family: Occupied, sans-serif;
}
.bg-opacity {
    background-color: #fff;
    opacity: 0.6;
    width: 600px;
    height: 310px;
    position: absolute;
    top: 346px;
    left: 10px;
}
.bg-opacity h1{
  color: #095228;
}
.bg-opacity:hover {
    background-color: #000;
}
.bg-opacity:hover p{
  color: #fff;
}
.bg-opacity:hover h1{
  color: #34C924;
}
.button-product {
    position: absolute;
    top: 250px;
    left: 20px;
    background-color: #ef5e9f;
    padding: 10px 20px;
}
.button-product:hover {
    background-color: #095228;
}
.button-product a {
    font-size: 18px;
    font-family: Occupied, sans-serif;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
/******************************************PRODUCT***/
#Product {
    clear: both;
}
#Product {
    clear: both;
    background-color: #c9aad6;
    height: 666px;
    background: -webkit-linear-gradient(right bottom, #c9aad6, #fff);
    background: -o-linear-gradient(top left, #c9aad6, #fff);
    background: -moz-linear-gradient(top left, #c9aad6, #fff);
    background: linear-gradient(to top left, #c9aad6, #fff);
}
#Product img:hover {
    background-color: #000;
    opacity: 0.9;
}
#Product h2 {
    margin: 0;
    text-align: right;
    padding: 50px 10px 100px 0;
    font-size: 22px;
    font-family: Occupied, sans-serif;
    color: #861961;
    font-weight: bold;
}
.product-line {
    width: 100%;
    padding: 10px;
}
.four-products {
    background-image: url(../img/wood4.jpg);
    max-width: 200px;
    max-height: 260px;
    padding: 15px;
    margin-right: 18px;
    border: 1px solid #861961;
    width: 20%;
    height: 260px;
    float: left;
    position: relative;
}
.four-products img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
}
.scale {
    transform: scaleX(-1);
}
h3.title-product {
    text-align: left;
    font-size: 14px;
    font-family: Occupied, sans-serif;
    color: #861961;
    font-weight: bold;
    float: left;
    line-height: 10px;
}
.price {
    width: 90px;
    height: 40px;
    float: left;
    position: absolute;
    right: 15px;
    background-color: #861961;
    opacity: 0.7;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.price:hover {
    background-color: #095228;
}
/*****************************************STORE***/
#Store {
    position: relative;
    clear: both;
}
#Store img {
    /*opacity: 0.5;*/
}
#Store h2 {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 22px;
    font-family: Occupied, sans-serif;
    font-weight: bold;
    margin-top: 0;
}
#Store p {
    position: absolute;
    top: 50px;
    left: 25px;
    right: 25px;
    text-align: justify;
    text-align-last: right;
    font-size: 18px;
    margin-top: 50px;
    font-family: Occupied, sans-serif;
}
.bg-store {
    background-color: #fff;
    opacity: 0.5;
    width: 600px;
    height: 310px;
    position: absolute;
    bottom: 13px;
    right: 10px;
}

.bg-store .title-store{
  color: #095228;
}
.bg-store:hover {
    background-color: #000;
}
.bg-store:hover p{
  color: #fff;
}
.bg-store:hover .title-store {
  color: #34C924;
}

.social-network {
    display: block;
    position: absolute;
    top: 200px;
    right: 25px;
    margin-top: 0px;
}
.social-network li {
    display: inline-block;
    margin-left: 30px
}

i.fa.fa-facebook-square, i.fa.fa-twitter-square, i.fa.fa-instagram {
    color: #ef5e9f;
    font-size: 40px;
}
i.fa.fa-facebook-square:hover, i.fa.fa-twitter-square:hover, i.fa.fa-instagram:hover {
    color: #095228;
}
.mailto a {
    position: absolute;
    right: 0;
    top: 161px;
    color: #095228;
    text-decoration: none;
}
.mailto a:hover {
    color: #ef5e9f;
}
i.fa.fa-envelope:after {
    margin-right: 20px;
}
/**********************************CONTACT***/
#Contact {
    position: relative;
    bottom: 4px;
    height: 667px;
    clear: both;
}
#Contact img {
    /*position: relative;*/
    opacity: 0.7;
}
form {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 10%;
    left: 19.8%;
}
.form {
    width: 92%;
    height: 82%;
    margin: 0;
    padding: 25px;
}
label {
    color: #861961;
    font-weight: bold;
    font-family: Occupied, sans-serif;
}
input {
    width: 97.3%;
    height: 25px;
    border: 2px solid #861961;
    padding-left: 10px;
    color: #095228;
    font-size: 16px;
    font-weight: bold;
}
#nom, #courriel, #message {
    background-color: #fff;
}
textarea {
    border: 2px solid #861961;
    width: 97.2%;
    height: 80px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: #095228;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
}
button {
    height: 35px;
    width: 100px;
    float: right;
    background-color: #861961;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
button:hover {
    background-color: #095228;
}
.btn-right {
    text-align: right;
}
#reset, #envoyer {
    width: 20%;
}
/*********************************FOOTER***/
footer {
    background-color: #861961;
    opacity: 0.7;
    clear: both;
    bottom: 20px;
    width: 1000px;
    height: 50px;
    position: relative;
}
footer p {
    margin-left: 20px;
    color: #fff;
    font-size: 16px;
    line-height: 45px;
    font-family: Occupied, sans-serif;
}
.legal-notice {
    margin-left: 135px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 45px;
    font-family: Occupied, sans-serif;
}
.legal-notice:hover {
    color: #c9aad6;
}
.social-network-footer {
    position: absolute;
    bottom: 4px;
    right: 15px;
    line-height: 25px;
    margin: 0;
}
.social-network-footer i.fa.fa-facebook-square, .social-network-footer i.fa.fa-twitter-square, .social-network-footer i.fa.fa-instagram {
    color: #fff;
    font-size: 40px;
}
.social-network-footer i.fa.fa-facebook-square:hover, .social-network-footer i.fa.fa-twitter-square:hover, .social-network-footer i.fa.fa-instagram:hover {
    color: #c9aad6;
    font-size: 40px;
}
.social-network-footer li {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
}
/***********************************MENTIONS LEGALES***/
.body2 {
    background-color: #000;
    width: 100%;
}
.container2 {
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    opacity: 0.7;
}
.container2 h2 {
    font-size: 24px;
    color: #861961;
    font-family: Occupied, sans-serif;
    text-align: center;
    margin-bottom: 100px;
}
h4, p {
    color: #000;
}
h4 {
    font-size: 20px;
    color: #ef5e9f;
    font-family: Occupied, sans-serif;
}
p {
    text-align: justify;
    font-size: 18px;
    font-family: Occupied, sans-serif;
}
.container2 a {
    color: #000;
}
/**********************************************************BACK-TOP***/
#back-top {
    background-image: -webkit-linear-gradient(30deg, #53c695 0%, #ffffff 100%);
    background-image: -o-linear-gradient(30deg, #53c695 0%, #ffffff 100%);
    background-image: linear-gradient(120deg, #53c695 0%, #ffffff 100%);
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 50px;
    right: 40px;
}
#back-top:hover {
    background-image: -webkit-linear-gradient(30deg, #ffffff 0%, #53c695 100%);
    background-image: -o-linear-gradient(30deg, #ffffff 0%, ##53c695 100%);
    background-image: linear-gradient(120deg, #ffffff 0%, ##53c695 100%);
}
#back-top a {
  /*width: 70px;
  height: 70px;*/
}
/*#back-top a i {
    font-size: 40px;
    margin-left: 15px;
    color: #fff;
    line-height: 60px;
}*/
#back-top a i {
    font-size: 40px;
    color: #fff;
    line-height: 60px;
    padding-left: 15px;
    width: 55px;
    height: 70px;
}
